apscheduler==3.11.2
dash==4.0.0
fastapi==0.135.3
joblib==1.5.3
lightgbm==4.6.0
numpy==2.4.4
openmeteo_requests==1.7.5
pandas
plotly
pydantic==2.12.5
Requests==2.33.1
requests_cache==1.3.1
retry_requests==2.0.0
scikit_learn==1.8.0
streamlit==1.56.0
uvicorn==0.44.0
xgboost==3.2.0
mlflow==3.10.1
streamlit-option-menu==0.0.4